.categories-container
  columns: 3;
  .categories-card
    break-inside: avoid;
    margin-bottom 1.4rem
    .categories-card-header
      width 100%
      .categories-card-header-content
        .categories-header-a
          font-size 1.3rem
          font-weight bold
          text-decoration: none
          background-image: none
          &::before
            content "📝"
    .categories-card-body
      padding-left 1.6rem
      width 100%