.post-list
  .post
    .post-date
      //list-style-type none
      padding-left 0
      li
        display inline-block
        margin-right 1.2rem
        padding-left -0.5rem
        &:nth-child(1)::before
          content "🕰"
          position relative
          left 4px
        &:nth-child(2)::before
          content "👨‍💻‍"
          position relative
          left 4px
